<div [formGroup]="formGroup">
  <mat-form-field class="full-width" [style]="style" appearance="outline">
    <mat-label>{{titulo}}</mat-label>
    <mat-select [placeholder]="titulo"
                [formControlName]="controlName"
                [disabled]="isDisabled"
                [id]="controlName"
                [value]="valor"
                [multiple]="isMultiple">
      <mat-option *ngFor="let opcao of opcoes"
        [value]="opcao.id">{{opcao.descricao}}
      </mat-option>
    </mat-select>
    <!--(valueChange)="ngChange(pai)" -->
    <mat-error *ngIf="validacao.hasErrorValidar(formControl, 'required')">Campo obrigatório</mat-error>
  </mat-form-field>
</div>
